.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
}

.modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust as needed */
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds space between elements */
}

.formInput,
.formTextArea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 300px;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    width: auto;
    min-width: 120px;
    max-width: 200px;
}

.button:hover {
    background-color: #45a049;
}

.buttonCancel {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    width: auto;
    min-width: 120px;
    max-width: 200px;
}

.buttonCancel:hover {
    background-color: #f44336;
}

.form {
    margin-top: 10px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.formLabel {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

